
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
header {
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
    padding: 1rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    color: #61dafb;
}
section {
    margin: 20px 0;
}
picture img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #282c34;
    color: #61dafb;
}
.scroll-to-top {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #61dafb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.scroll-to-top:hover {
    background-color: #4a90e2;
}
.resizeimg {
    width: 100%;       
    max-width: 600px;  
    height: auto;      
  }
.resizevideo {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
img,video,audio{
    margin-bottom: 15px;
}
p{
    padding: 20px;
}